lab3desafio12.json
[
    {
        "id": "5118938dcd3e619a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f99a27f76a5f9b2e",
        "type": "serial-port",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "6fa6ac36f8275283",
        "type": "ui_tab",
        "name": "Temp",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b4061c94dec9f294",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "75f3b1bcdef418a9",
        "type": "ui_tab",
        "name": "Alerta",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf77443c839a7f78",
        "type": "ui_group",
        "name": "Alerta",
        "tab": "75f3b1bcdef418a9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "530db079002957bc",
        "type": "json",
        "z": "5118938dcd3e619a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "da8ced9424fa2477",
                "27c7955dd6215f2d",
                "c5cb4c9fc389bcfa",
                "b0df81606f231f28"
            ]
        ]
    },
    {
        "id": "b0df81606f231f28",
        "type": "change",
        "z": "5118938dcd3e619a",
        "name": "temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "1ff1ea1b30698c45",
                "8e69c0f6c6a01720"
            ]
        ]
    },
    {
        "id": "da8ced9424fa2477",
        "type": "change",
        "z": "5118938dcd3e619a",
        "name": "umidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.umidade",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "3f0766ab641e3e69",
                "4a6f5e65251f812d"
            ]
        ]
    },
    {
        "id": "27c7955dd6215f2d",
        "type": "function",
        "z": "5118938dcd3e619a",
        "name": "temperatura",
        "func": "var temperatura = msg.payload.temperatura;\n\nif (temperatura > 30) {\n    node.send({\n        payload: \"ALERTA: Temperatura maior que 30°C!\"\n    });\n} else {\n    return msg; // Encaminhar a mensagem original se a condição não for atendida\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 240,
        "wires": [
            [
                "0338c255267e2e65",
                "34ff44321c539d93"
            ]
        ]
    },
    {
        "id": "8e69c0f6c6a01720",
        "type": "ui_gauge",
        "z": "5118938dcd3e619a",
        "name": "",
        "group": "bf77443c839a7f78",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "3f0766ab641e3e69",
        "type": "ui_gauge",
        "z": "5118938dcd3e619a",
        "name": "",
        "group": "bf77443c839a7f78",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Umidade Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "4a6f5e65251f812d",
        "type": "ui_chart",
        "z": "5118938dcd3e619a",
        "name": "",
        "group": "bf77443c839a7f78",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Umidade Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff1ea1b30698c45",
        "type": "ui_chart",
        "z": "5118938dcd3e619a",
        "name": "",
        "group": "bf77443c839a7f78",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a8d6698a740ff83f",
        "type": "serial in",
        "z": "5118938dcd3e619a",
        "name": "COM3",
        "serial": "f99a27f76a5f9b2e",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "530db079002957bc"
            ]
        ]
    },
    {
        "id": "c4b8790e5e5df36f",
        "type": "file",
        "z": "5118938dcd3e619a",
        "name": "write to file",
        "filename": "C:/Users/test.text.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "utf8",
        "x": 410,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "2de18415cd640922",
        "type": "csv",
        "z": "5118938dcd3e619a",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "Temperatura,Umidade",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "c4b8790e5e5df36f"
            ]
        ]
    },
    {
        "id": "c5cb4c9fc389bcfa",
        "type": "function",
        "z": "5118938dcd3e619a",
        "name": "refina payload",
        "func": "var temp = msg.payload.temperatura;\nvar umid = msg.payload.umidade;\nconst m = { 'Temperatura': temp, 'Umidade': umid};\nreturn { payload: m };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 240,
        "wires": [
            [
                "2de18415cd640922"
            ]
        ]
    },
    {
        "id": "0338c255267e2e65",
        "type": "debug",
        "z": "5118938dcd3e619a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.temperatura",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "34ff44321c539d93",
        "type": "ui_text",
        "z": "5118938dcd3e619a",
        "group": "bf77443c839a7f78",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Condição de Temperatura:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 60,
        "wires": []
    }
]
